* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    /*Dégradé bleu animé toute les secondes*/
    background: linear-gradient(45deg, #000000, #974c00);
    animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.chat-container {
    width: 400px;
    height: 600px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 0px 64px rgba(255, 145, 0, 0.6);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-header {
    padding: 15px;
    background: #d77300;
    color: #fff;
    text-align: center;
}

.chat-messages {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    background: #fafafa;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    max-width: 80%;
    word-wrap: break-word;
}

.user-message {
    display: flex;
    justify-content: flex-end;
    background: #d77300;
    color: white;
    align-self: flex-end;
    margin-left: auto;
    width: fit-content;
    max-width: 80%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.bot-message {
    background: #e1e1e1;
    color: black;
    align-self: flex-start;
    margin-right: auto;
    width: fit-content;
    max-width: 80%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
}

#user-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
}

button {
    padding: 10px;
    font-size: 16px;
    background: #ffa600;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 4px;
    transition: 100ms;
}

button:hover {
    background: #7c4600;
    transition: 100ms;
}
